.weather {
    place-self :center;
    padding: 40px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 50px;
border-radius: 50px;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #D1D8EC;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebffcc;
    font-size: 18px;
    -webkit-border-radius: 50px;
border-radius: 50px;
background: #D1D8EC;
-webkit-box-shadow: 12px 12px 11px #54565e, -12px -12px 11px #ffffff;
box-shadow: 12px 12px 11px #54565e, -12px -12px 11px #ffffff;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
    -webkit-border-radius: 50px;
border-radius: 50px;
background: #D1D8EC;
-webkit-box-shadow: 12px 12px 11px #54565e, -12px -12px 11px #ffffff;
box-shadow: 12px 12px 11px #54565e, -12px -12px 11px #ffffff;
}
.weather-icon{
    width:150px;
    margin:30px;
    
}
.temprature{
    color:#fff;
    font-size:80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span {
    display: block;
    font-size: 16px;
}
.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}